<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Stock Orders | F1 Coffee Roasters IMS</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
</head>

<body>
    <div id="backdrop"></div>
    <header>
        <nav id="navbar">
            <div class="mainMenu">
                <div class="nonDrop">
                    <div>
                        <a href="/"><button id="buttonDrop">Products</button></a>
                    </div>
                </div>
                <div class="nonDrop">
                    <button class="defaultBtn" onclick="window.location.href='/clientOrders'">Client Orders</button>
                </div>
                <div class="nonDrop">
                    <button class="defaultBtn" onclick="window.location.href='/stockOrders'">Stock Orders</button>
                </div>
                <div class="nonDrop">
                </div>

                <div id="logout">
                    <button class="logout" onclick="window.location.href='admin_login.html'">Logout</button>
                </div>
        </nav>
        <div class="banner">
            <!--coffee bag by supalerk laipawat from Noun Project (CC BY 3.0)-->
            <a href="https://thenounproject.combr/owse/icons/term/coffee-bag/"><img src="logoF1CR.png" class="logo"></a>
            <span>F1 Coffee Roasters IMS</span>
        </div>
    </header>
    <br>
    <br>
    <main>
        <h3 id="page">F1 Coffee Roasters IMS - Client Orders
            <a href="\"><button class="logout" style="float:right;margin-right: 20px;">Cancel</button></a>
        </h3>
        <br />
        <form>
            <table class="table" id="clientOrdertList">
                <thead>
                    <tr>
                        <th>Client Order ID</th>
                        <th>Product ID</th>
                        <th>Client Order Qty</th>
                        <th>Date Ordered</th>
                    </tr>
                </thead>
                <tbody>
                    <% clientOrders.forEach(element=> { %>
                        <tr>
                            <td>
                                <%= element.clientorderID %>
                            </td>
                            <td>
                                <%= element.productID %>
                            </td>
                            <td>
                                <%= element.corderquantity %>
                            </td>
                            <td>
                                <%= element.date %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </form>
            </table>
        </div>
    </main>
</body>

</html>